<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="plugins" type="AppSettingSample.Configs.PluginsSection, AppSettingSample" />
  </configSections>
  <plugins>
    <prePlugins>
      <plugin assemblyName="pre_a">
        <param name="pre_param_a_1" value="pre_value_a_1" />
        <param name="pre_param_a_2" value="pre_value_a_2" />
      </plugin>
      <plugin assemblyName="pre_b">
        <param name="pre_param_b_1" value="pre_value_b_1" />
        <param name="pre_param_b_2" value="pre_value_b_2" />
      </plugin>
    </prePlugins>
    <postPlugins>
      <plugin assemblyName="post_a">
        <param name="post_param_a_1" value="post_value_a_1" />
        <param name="post_param_a_2" value="post_value_a_2" />
      </plugin>
      <plugin assemblyName="pre_b">
        <param name="post_param_b_1" value="post_value_b_1" />
        <param name="post_param_b_2" value="post_value_b_2" />
      </plugin>
    </postPlugins>
  </plugins>
</configuration>
