<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="plugins" type="AppSettingSample.Configs, AppSettingSample" />
    </configSections>
    <plugins>
        <prePlugins>
            <plugin assemblyName="pre_a" />
            <plugin assemblyName="pre_b" />
        </prePlugins>
        <postPlugins>
            <plugin assemblyName="post_a" />
            <plugin assemblyName="post_b" />
        </postPlugins>
    </plugins>
</configuration>
